<div class="footer-main">
        <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Journal It 2022 </span>

<ul class="footer-menu">
<a class="footer-link" href="https://www.monkkee.com/en/" target="_blank">Homepage</a>&nbsp | &nbsp
<a class="footer-link" href="https://www.monkkee.com/en/support/" target="_blank">Contact</a>&nbsp | &nbsp
<a class="footer-link" href="https://www.monkkee.com/en/faq/" target="_blank">FAQ</a>&nbsp | &nbsp
<a class="footer-link" href="https://www.monkkee.com/en/faq/" target="_blank">Privacy Policy</a>

</ul>
</div>
    </div>
</div>
