<!-- Topbar -->
<header>
  <a id="home"></a>
  <div id="logo">
    <a href="https://www.monkkee.com/en">
      <%= image_tag("JournalIt.png",width:"75", height:"75" ,class: "rounded-circle",alt:"")%>
      &nbsp;Journal It
    </a>
  </div>
</header>
