<!-- Topbar -->
<header>
  <a id="home"></a>
  <div id="logo">
    <a href="https://www.monkkee.com/en">
      <%= image_tag("JournalIt.png",width:"100", height:"100", alt:"")%>


    </a>
  </div>
</header>
