<div class="container">
  <h1 id="#about">About</h1>
  <div class=" mx-auto card-body " style="width: 400px;">
    <h1 class="cursive">Your thoughts into words<i class="long_title_line"></i></h1></div>

    <ul>
      <div class="card-group">
        <div class="card">
          <%= image_tag("lurinani1.jpg", class:"card-img-top", alt:"")%>
          <div class="card-body">
            <h5 class="card-title monospace">Accessable via internet</h5>
            <p class="card-text typogphy">To write your thoughts into words, all you need is an internet access and a computer. Whether you are at home or moving consistently.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("chill.jpg", class:"card-img-top", alt:"")%>
          <div class="card-body">
            <h5 class="card-title monospace">Secure and Encrypted</h5>
            <p class="card-text typogphy">The journal is completely secure, JournalIt uses comprehensive security concept.To know more click here.</p>
          </div>
        </div>
        <div class="card">
          <%= image_tag("stressfree.jpg", class:"card-img-top", alt:"")%>
          <div class="card-body">
            <h5 class="card-title monospace">Secret and Private</h5>
            <p class="card-text typogphy">The use of Journal It is private. So you can express yourself completely without worrying if someone will see it.</p>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="cursive">Keep a private journal securely on the Internet – to provide a convenient user experience your personal online diary <b>Journal It</b> offers you a variety of features.</h5>
      <div class="container mb-3 mx-auto" style="max-width: 540px;">
        <h1 id="features">Features<i class="title_line"></i></h1>
        <div class="row no-gutters">
          <div class="col-md-8">
            <%= image_tag("pocket_knife.png", class:"card-img",  alt:"")%>
          </div>
          <div class="col-md-4">
            <div class="card-title"></div>
            <div class="card-body">

                <h5 class="card-title typography"></h5>
                <p class="card-text">
                  <div class=" mx-auto card-body typogaphy" style="width: 400px;">
                    <ul>
                      <li>Free use</li>
                      <li>Convenient editor</li>
                      <li>Insert images</li>
                      <li>Automatic saving</li>
                      <li>Create your own categories using tags</li>
                      <li>Search within entries</li>
                      <li>Print view</li>
                      <li>Export feature</li>
                      <li>Automatic logout in case of inactivity</li>
                    </ul>
                  </div>
                </p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h1>Security
          <i class="title_line"></i>
        </h1>
        <p>The free online diary Journal It offers you the safest place for your thoughts. A comprehensive security concept protects your content against unauthorized access. And this is how it works:</p>
        <p>As soon as content created by you is saved, it is directly encrypted on your computer, i.e. even before its leaves your device and is transferred to the server via the Internet. With this end-to-end encryption approach Journal It set themselves apart from other competitors who do not encrypt user data at all or only provide server-side encryption.</p>
        <p style="text-align: center"><img class="size-full wp-image-107 aligncenter" style="height: auto" src="https://www.monkkee.com/en/wp-content/uploads/sites/3/encryption_process.png" alt="encryption_process" width="900" height="252"></p>
        <p>The decryption key for Journal It is your password, which you must enter each time you log on. The encryption method used is AES-256. Initially developed for military purposes, this highly secure encoding technology is nowadays used by governments, institutions and banks to encrypt top-secret information.</p>
        <p>The encrypted data is transferred&nbsp;directly between your device and the server. For this purpose, Journal It uses an additional SSL-based encryption technology. That way, no one can eavesdrop on the transfer.</p>
        <p>Only you can decrypt your entries now, since you are the only one to know the password. This means that even the system administrators of Journal It cannot read your data. It also means that it is not possible to hand data over to government authorities, as is currently being discussed in the media. As a side effect, it is not possible to restore your password in case you forget it. So always remember your password – there is no spare key!</p>
        <p>If you have any further questions regarding security, check out our <a title="FAQ" href="https://www.Journalit.com/en/faq/">FAQs</a> or send a message to Journal It using the <a title="contact form" href="https://www.JournalIt.com/en/contact/">contact form</a>.</p>
      </div>
      <div class="container_testimonials">
        <h1>Testimonials
          <i class="title_line"></i>
        </h1>
        <div id="carouselContent" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active text-center p-4">
             <p>Secure, simple, accessible, functional – Journal It is precisely what I have been looking for. A big THANK YOU to the Journal It team!</p>
           </div>
           <div class="carousel-item text-center p-4">

             <p>I had my online journal on WordPress for 4 years. When I heard of Journal It, I started moving all my articles here immediately. I love it.</p>
           </div>

           <div class="carousel-item text-center p-4">

            <p>I’m dearly loving your application. I set a resolution to write a new journal entry every day and so far I’m happy to say I’ve been keeping up. I love the simplicity of your site, and the good looking design. It gives me a very easy way to browse through my entries, and a nice tagging system.</p>
          </div>

          <div class="carousel-item text-center p-4">

            <p>Journal It’s clean design and user-friendly features are just right for me. Thanks 🙂</p>
          </div>

        </div>
        <a class="carousel-control-prev" href="#carouselContent" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselContent" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
      </div>


</div>
